<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati expedita repellat sapiente libero mollitia a deleniti vitae, eveniet corrupti asperiores?</p>
    </div>
</section>