<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, molestiae. Consectetur ipsa quos exercitationem itaque?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, autem quaerat! Quibusdam amet placeat at quod laudantium molestiae voluptatum ab?</p>
    <a href="" class="btn btn-primary">FaztWeb</a>
</div>
